.idea/*
__pycache__/*
app/__pycache__/*
app/recheck/__pycache__/*
app/recheck/models/__pycache__/*
.env
/lambda/python/*
/lambda/python.zip
/lambda/dobby_storage/__pycache__/*
/venv/*
app/recheck/compare_excel/*
app/recheck/saves/*
app/recheck/modify_excel/*